@font-face {
    font-family: "Press_Start_2P"; 
    src: url("../../../fonts/Press_Start_2P/PressStart2P-Regular.ttf") format("truetype");
}

:root{
  font-family: "Press_Start_2P";
}
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0%;
}

body {
  background: url("https://img.freepik.com/premium-photo/3d-rendering-welding-robotic-arms-with-blank-space-white-background_493806-7833.jpg?w=826")
    center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body.disco {
  transition: background-color 0.5s;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.robots {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  margin-top: 1%;
}
.head,
.left_arm,
.torso,
.right_arm,
.left_leg,
.right_leg {
  background-color: #5f93e8;
}
.head {
  width: 200px;
  margin: 0 auto;
  height: 150px;
  border-radius: 200px 200px 0 0;
  margin-bottom: 10px;
}
.eyes {
  display: flex;
}
.head:hover {
  height: 125px;
  background-color: #f542d4;
  transition: background-color 0.5s ease-in-out;
}
.head:hover > .eye_bros {
  opacity: 100%;
  transition: 1s ease-in-out;
}
.upper_body {
  width: 300px;
  height: 150px;
  display: flex;
}
.left_arm,
.right_arm {
  width: 40px;
  height: 125px;
  border-radius: 100px;
}
.left_arm {
  margin-right: 10px;
}
.right_arm {
  margin-left: 10px;
}
.right_arm:hover {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.left_arm:hover {
  /* transform: rotate(360deg); */
  /* transition: 1s ease-in-out; */
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.torso {
  width: 200px;
  height: 200px;
  border-radius: 0 0 50px 50px;
}
.lower_body {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: flex;
}
.left_leg,
.right_leg,
.private {
  width: 40px;
  height: 120px;
  border-radius: 0 0 100px 100px;
}
.left_leg {
  margin-left: 45px;
}
.left_leg:hover {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}
.right_leg:hover {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.right_leg {
  margin-left: -5px;
}

.private:hover {
  background-color: #f542d4;
  transform: translate(0, 30%);
  transition: 2s ease-in-out;
}

.eye_bros {
  display: flex;
  opacity: 0%;
}
.Left_eyebro,
.Right_eyebro {
  position: relative;
  width: 40px;
  height: 10px;
  border-radius: 20px;
  background-color: black;
  margin-top: 70px;
  margin-bottom: -40px;
}
.Left_eyebro {
  left: 30px;
}
.Right_eyebro {
  right: -95px;
}
.head:hover .Left_eyebro {
  transform: rotate(20deg);
}

.head:hover .Right_eyebro {
  transform: rotate(-20deg);
}

.left_eye,
.right_eye {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: white;
}
.left_eyeball,
.right_eyeball {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  background-color: black;
}
.left_eye {
  position: relative;
  top: 50px;
  left: 40px;
}
.right_eye {
  position: relative;
  top: 50px;
  left: 120px;
}
.right_eyeball {
  position: relative;
  top: 35px;
  left: 125px;
}
.left_eyeball {
  position: relative;
  top: 35px;
  left: 45px;
}
footer {
  text-align: center;
  font-size: small;
}

@keyframes danceArmRight {
  0%,
  100% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}

@keyframes danceArmLeft {
  0%,
  100% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
}

@keyframes danceLeg {
  0%,
  100% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}


@keyframes beatEffect {
  0%,
  100% {
    transform: scale(1); /* Normal size */
  }
  50% {
    transform: scale(1.04); /* Increased size (20% larger) */
    
  }
}


.beat {
  animation: beatEffect 0.2s infinite;
}


.dance-arms-right {
  /* animation: danceArmRight 0.3s infinite; */
  transform: rotate(20deg) scale(1.1);
}
.dance-arms-left {
  /* animation: danceArmLeft 0.3s infinite; */
  transform: rotate(-20deg) scale(1.1);
}

.dance-left-leg {
  animation: danceLeg 0.3s infinite;
}

.dance-right-leg {
  animation: danceLeg 0.3s infinite;
}

.enlarge{
  height: 125px;
}

.hidden{
  display: none;
}